@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-default: rgb(131, 131, 131);
  --color-primary: rgb(81, 104, 255);
  --color-secondary: rgb(255, 162, 81);
  --color-danger: rgb(243, 55, 55);
}

body {
  font-family: "Montserrat", sans-serif;
}
